<form [formGroup]="form" class="container">
  <div class="flex items-center justify-between">
    <label
      for="password"
      class="block text-sm font-medium leading-6 text-gray-900"
      >Password</label
    >
  </div>
  <div class="mt-2">
    <input
      formControlName="password"
      id="password"
      name="password"
      type="text"
      required
      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      (input)="onPasswordChange()"
    />
  </div>

  <!-- Display password strength message -->
  <div class="mb-1 text-base font-medium" [ngClass]="colorClass">
    {{ message }}
  </div>

  <!-- Password strength progress bar -->
  <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
    <div
      [ngClass]="{
        'bg-red-600': colorClass.includes('red'),
        'bg-yellow-400': colorClass.includes('yellow'),
        'bg-green-600': colorClass.includes('green')
      }"
      class="h-2.5 rounded-full"
      [style.width]="
        colorClass.includes('red')
          ? '33%'
          : colorClass.includes('yellow')
          ? '66%'
          : '100%'
      "
    ></div>
  </div>
</form>
